*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(98, 139, 139);
}

.heading{
    text-align: center;
    font-size: 50px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    height: 200px;
    width: 200px;
}

.choice:hover{
    opacity: 0.5;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 50px;
}

.score-board{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    text-align: center;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
}